<div id="exemple-carrousel" class="carousel slide" data-ride="carousel">

    <ol class="carousel-indicators">
        <li data-target="#exemple-carrousel" data-slide-to="0" class="active"></li>
        <li data-target="#exemple-carrousel" data-slide-to="1"></li>
        <li data-target="#exemple-carrousel" data-slide-to="2"></li>
    </ol>


    <div class="carousel-inner">
        <div class="item active">
            <img src="C:\Users\utilisateur\Desktop\Angular\angular_manage_user\src\assets\babys-badass-burger-foodtruck.jpg" alt="...">
            <div class="carousel-caption">
                <h3>Los Angeles</h3>
                <p>Denique Antiochensis ordinis vertices sub uno elogio
                    iussit occidi ideo efferatus.</p>
                <p><button class="btn btn-primary">Plus d’informations
                    </button></p>
            </div>
        </div>
        <div class="item">
            <img src="C:\Users\utilisateur\Desktop\Angular\angular_manage_user\src\assets\food1.jpg" alt="...">
            <div class="carousel-caption">
                <h3>Las Vegas</h3>
                <p>Denique Antiochensis ordinis vertices sub uno elogio
                    iussit occidi ideo efferatus.</p>
                <p><button class="btn btn-primary">Plus d’informations
                    </button></p>
            </div>
        </div>
        <div class="item">
            <img src="C:\Users\utilisateur\Desktop\Angular\angular_manage_user\src\assets\food2.jpg" alt="...">
            <div class="carousel-caption">
                <h3>Montréal</h3>
                <p>Denique Antiochensis ordinis vertices sub uno elogio iussit
                    occidi ideo efferatus.</p>
                <p><button class="btn btn-primary">Plus
                        d’informations</button></p>
            </div>
        </div>
    </div>


    <a class="left carousel-control" href="#exemple-carrousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#exemple-carrousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>