<table class="table table-striped" *ngIf="listUser.length > 0">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Email</th>
        <th scope="col">Nom</th>
        <th scope="col">Prenom</th>
        <th scope="col">Date de Naissance</th>
        <th scope="col">Profil</th>
        <th scope="col">Telephone</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listUser; index as i">
        <th scope="row">{{i+1}}</th>
        <td>{{item.Email}}</td>
        <td>{{item.Nom}}</td>
        <td>{{item.Prenom}}</td>
        <td>{{item.DateNaissance}}</td>
        <td>{{item.UserProfil}}</td>
        <td>{{item.Telephone}}</td>
        <td>
            <button class="btn btn-danger" (click)="DeletePersonne(item.Id)"> Supprimer </button>
            <button class="btn btn-success" (click)="OpenSelectedPersonne(item.Id)"> Modifier </button>
        </td>
      </tr>
    </tbody>
  </table>