<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>siteEmp</display-name>
  
  <servlet>
    <servlet-name>AccueilServlet</servlet-name>
    <servlet-class>exemple.siteemp.servlets.AccueilServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccueilServlet</servlet-name>
    <url-pattern>/accueil</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AjoutServiceServlet</servlet-name>
    <servlet-class>exemple.siteemp.servlets.AjoutServiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjoutServiceServlet</servlet-name>
    <url-pattern>/ajoutservice</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>exemple.siteemp.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>accueil</welcome-file>
  </welcome-file-list>
  
</web-app>